# Ignore everything by default
*

# Include specific files and directories
!.gitignore
!config.toml

# Content
!content/
!content/**

# Layouts
!layouts/
!layouts/**

# Theme
!themes/
!themes/primitive/
!themes/primitive/**

# Static files
!static/
!static/**

# CI/CD
!.github/
!.github/**
